
.subtitulo{
    font-size: 18px;
    margin-top: 90px;
    color: black;
    position: absolute;
    top: 50px;
    left: 20px;
}
/* estilo do but찾o de registro*/
.btt-2{
    color: #f5f5f5;
    background-color: #2271b3;
    border-radius: 9999px;
    border: 2px solid #0000cd;
}

/*estilo do but찾o de login*/
 .btt-1{
    background-color: #f5f5f5;
    border: 2px solid #0000cd;
    border-radius: 9999px;
    
}

/*estilo do leia mais ou historia, sei la*/
 #btnHistoria{
    background-color: #3a88cd;
    margin-top: 120px;
    color: #fff;
    border-radius: 9999px;
    padding: 5px 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    top: 50px;
    bottom: 50px; 
}

/*estilo da imagem*/
 img {
    max-width: 500%;
    width: 50%;
    float: left;
}

/*estilo do titulo bem vindo*/
 .titulo { 
    font-size: 3rem; /* tamanho grande */
    position: absolute; /* posicionamento absoluto */
    top: 0; /* dist창ncia do topo */
    left: 0; /* dist창ncia da esquerda */ 
    background-color:transparent;
    color:#3a88cd;
}



.relative-div{
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
}

.absolute-2-div{
    position: absolute;
    bottom: 70px;
    right: 0;
    width: 500px;
    height: 200px;
    border: none;
}
.absolute-1-div{
    position: absolute;
    top: 20px;
    right: 200px;
    width: 500px;
    height: 200px;
    border: none;

}
.absolute-0-div{
  position: absolute;
    bottom: 10px;
    right: 250px;
    width: 350px;
    height: 100px;
    border: 5px solid #3a88cd;
    background-color: #3a88cd;
    border-radius: 10px;
}
.text-1{
 top: 50px;
 bottom: 50px;
 left: 20px;
}
