
.subtitulo{
    font-size: 18px;
    margin-top: 90px;
    color: black;
    position: absolute;
    top: 50px;
    left: 20px;
}
/* estilo do butão de registro*/
.btt-2{
    color: #f5f5f5;
    background-color: #2271b3;
    border-radius: 9999px;
}

/*estilo do butão de login*/
 .btt-1{
    background-color: #f5f5f5;
    border-radius: 9999px;
    
}

/*estilo do leia mais ou historia, sei la*/
 #btnHistoria{
    background-color: #3a88cd;
    margin-top: 120px;
    color: #fff;
    border-radius: 9999px;
    padding: 5px 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    top: 50px;
    bottom: 50px; 
}

/*estilo do logo*/
.imglogo {
  width: 40px;
  height: 40px;
   float: left;
}

/*estilo do titulo bem vindo*/
 .titulo { 
    font-size: 3rem; /* tamanho grande */
    position: absolute; /* posicionamento absoluto */
    top: 0; /* distância do topo */
    left: 0; /* distância da esquerda */ 
    background-color:transparent;
    color:#3a88cd;
}



.relative-div{
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
}

.absolute-2-div{
    position: absolute;
    bottom: 70px;
    right: 0;
    width: 500px;
    height: 200px;
    border: none;
}
.absolute-1-div{
    position: absolute;
    top: 20px;
    right: 200px;
    width: 500px;
    height: 200px;
    border: none;

}
.absolute-0-div{
  position: absolute;
    bottom: 10px;
    right: 250px;
    width: 350px;
    height: 100px;
    border: 5px solid #3a88cd;
    background-color: #3a88cd;
    border-radius: 10px;
}
.text-1{
 top: 50px;
 bottom: 50px;
 left: 20px;
}

/* Corpo da pg welcome */
:root {
         
    --ratio: 1.54;
    --s-6: calc(var(--s-5) / var(--ratio));
    --s-5: calc(var(--s-4) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: calc(1.05rem + 0.333vw);
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));
    --s6: calc(var(--s5) * var(--ratio));
    font-size: 62.5%;
    line-height: 1.6;
    box-sizing: border-box;
           }
           @media (min-width: 40.625em) {
    :root {
      --s0: calc(1.25rem + 0.333vw);
    }
  }
  @media (min-width: 48em) {
    :root {
      --s0: calc(1.4rem + 0.333vw);
    }
  }
  @media (min-width: 62em) {
    :root {
      --s0: calc(1.6rem + 0.333vw);
    }
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  @media (min-width: 48em) {
    body {
      font-size: 1.5rem;
    }
  }
  
  h2, h3, p, ul {
    margin: 0;
  }
  
  ul {
    padding: 0;
  }
  ul li {
    /* Remove as bolinhas da lista*/
    list-style-type: none;
  }
  ul li:before {
    content: "​";
    
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    position: absolute;
  }
  
  .c-section {
    padding: 0 var(--s3);
  }
  .c-section__title {
    padding: var(--s2) var(--s3) calc(var(--s6) * 1.8);
    margin: 0 calc(var(--s3) * -1);
    color: #fff;
    font-size: var(--s4);
    font-weight: 900;
    text-align: center;
  }
  @media (min-width: 40.625em) {
    .c-section__title {
      padding: var(--s2) var(--s3) var(--s4);
    }
  }
  @media (min-width: 40.625em) {
    .c-section__title {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: relative;
      text-align: inherit;
    }
  }
  .c-section__title:after {
    content: "";
    display: block;
    background-size: calc(var(--s5) * 3) calc(var(--s5) * 3);
    width: calc(var(--s5) * 3);
    height: calc(var(--s5) * 3);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(11rem);
    z-index: 1;
    
  }
  
  .c-section span:before {
    content: "";
    display: block;
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 200%;
    transform: skew(0deg, 0deg);
    z-index: -1;
    background: #3a88cd;
    background-attachment: fixed;
    
   
  }
  
  .c-section span:after {
    content: "Conectando profissionais e clientes pela busca da saúde mental por meio da criação e marcação de consultas, o PsicoMais tem como objetivo facilitar o acesso destes por meio da tecnologia.";
    display: block;
    font-size: 1.4rem;
    position: absolute;
    font-weight: 350;
    padding: 0 var(--s3);
    color: rgba(255, 255, 255, 0.85);
    left: 9px;
  }
  
  @media (min-width: 40.625em) {
    .c-section span:after {
      font-size: 23%;
    }
  }
  
  
  @media (min-width: 48em) {
    .c-section span:after {
      width: 57ch;
    }
  }
  
  
  
  .c-services {
    display: grid;
    grid-gap: var(--s2);
    margin: 0 calc(var(--s3) * -1);
    padding: var(--s6) var(--s3);
    position: relative;
    z-index: 1;
  }
  @media (min-width: 40.625em) {
    .c-services {
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: minmax(100px, 1fr);
    }
  }
  @media (min-width: 40.625em) {
    .c-services {
      padding: 0 var(--s3);
    }
  }
  
  .c-services:before {
    content: "";
    display: block;
    position: absolute;
    top: -20%;
    left: 0;
    background: #d8d7d7;
    width: 100%;
    height: 125%;
    transform: skew(0deg, 0deg);
  
  }
  
  .c-services__item {
    background: #fff;
    padding: calc(var(--s2) - 0.6rem) var(--s1);
    border-radius: 25px;
    box-shadow: 0 7px 20px rgba(100, 28, 2, 0.135);
    transition: all 300ms ease, transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    position: relative;
    z-index: 1;
  }
  
  @media (min-width: 40.625em) {
    .c-services__item {
      transform: translateY(-85px);
    }
  }
  @media (min-width: 48em) {
    .c-services__item {
      transform: translateY(-130px);
    }
  }
  @media (min-width: 40.625em) {
    .c-services__item:nth-of-type(1) {
      grid-column: 1/-1;
      grid-row: 1;
    }
  }
  @media (min-width: 62em) {
    .c-services__item:nth-of-type(1) {
      grid-column: 1/-6;
      grid-row: 1;
    }
  }
  @media (min-width: 40.625em) {
    .c-services__item:nth-of-type(2) {
      grid-column: 1/span 3;
      grid-row: 1;
    }
  }
  @media (min-width: 62em) {
    .c-services__item:nth-of-type(2) {
      grid-column: 3/span 2;
      grid-row: 1;
    }
  }
  @media (min-width: 40.625em) {
    .c-services__item:nth-of-type(3) {
      grid-column: 4/-2;
    }
  }
  @media (min-width: 62em) {
    .c-services__item:nth-of-type(3) {
      grid-column: 1/-4;
      grid-row: 2;
    }
  }
  
  
  
  .c-services__item h3 {
    color: #348ddd;
    font-size: var(--s1);
    line-height: 1.2;
  }
  
  
  .c-services__item p {
    margin-top: var(--s-1);
    font-weight: 400;
    color: #706d7e;
  }
  .c-services__item:hover {
    background-color: #348ddd;
  }
  @media (min-width: 40.625em) {
    .c-services__item:hover {
      transform: translateY(-93px);
    }
  }
  @media (min-width: 48em) {
    .c-services__item:hover {
      transform: translateY(-138px);
    }
  }
  .c-services__item:hover h3 {
    color: #fff;
  }
  .c-services__item:hover p {
    color: rgba(255, 255, 255, 0.8);
  }
  .c-services__item:hover:after {
    background-color: #fff;
   
  }

   /*img do wlcome*/

   .imagem {
    position: absolute;
    top: -382px;
    right: 0;
   
    height: 100%;
   }
    